.card {
    position: relative;
	width: 268px;
	font-family: var(--font-cards);

    &__link {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }

	&__photo {
		height: 240px;
		background-color: #fafafa;
		margin-top: 50px;
		border-radius: 20px 20px 0 0;
		text-align: center;

		&-img {
            width: 217px;
			margin-top: -50px;
		}
	}

	&__desc {
		height: 202px;
		display: flex;
		flex-direction: column;
		gap: 6px;

		background-color: #ffffff;
		border-radius: 0 0 20px 20px;
		padding: 14px 22px 28px;

		&-category {
            position: relative;
            z-index: 3;
			color: var(--text-muted);
			font-size: 16px;
		}

		&-title {
			color: var(--text-card-dark-blue);
			font-size: 21px;
			font-weight: 600;
		}

		&-rating {
			display: flex;
			gap: 3px;
		}

		&-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: auto;

			.card__price {
                display: flex;
                align-items: flex-start;
                gap: 3px;

				color: var(--text-card-dark-blue);
				font-size: 22px;
				font-weight: 600;

                &::before {
                    content: attr(data-value);

                    font-size: 15px;


                }
			}

			.card__btn {
                position: relative;
                z-index: 3;

                transform: opacity 0.2s ease-in;

                &:hover {
                    opacity: 0.8;
                }
			}
		}
	}
}
