.dropdown {
    position: absolute;
    padding: 20px 25px;
    border-radius: 16px;
    left: 0;
    top: calc(100% + 10px);
    background-color: var(--footer-bg);
    color: #fff;
    text-align: left;
    

    &__list {
        display: grid;
        gap: 18px;
        font-size: 16px;

        // .dropdown__item {

        // }

        .dropdown__link {
            transform: color 0.1s ease-in;

            &:hover {
                color: var(--accent);
            }

        }
    }
}