.info__hint {
    position: absolute;
    top: -26px;
    left: 16px;
    transform: translate(-50%, -100%);



	display: flex;
	gap: 8px;
	padding: 12px;
	width: 112px;
	height: 56px;
	background-image: url('./../img/icons/Union.svg');

    .radio {
        position: relative;
        width: 24px;
        height: 24px;

        
        &__input {
            appearance: none;
            position: absolute;

            &:checked + .radio__label {
                
                background-image: url('./../img/icons/vector.svg');
                background-repeat: no-repeat;
                background-position: center center;
            }
            
            
        }
        
        &__label {
            cursor: pointer;
            display: block;
            
            width: 24px; 
            height: 24px;
            border: 2px solid #ccc;
            background-color: gray;
            border-radius: 50%;

        }

        &--orange {
            background-color: var(--ui-orange);
        }

        &--biruza {
            background-color: var(--ui-biruza);
        }

        &--gray {
            background-color: var(--ui-gray);
        }
    }
}



