.products {
	background-color: #f7f7f7;
	padding: 50px 0;

	&__title {
		margin-bottom: 32px;
		text-align: center;
		font-size: 42px;
		font-weight: 700;
	}

	&__tabs {
		margin-bottom: 80px;
		text-align: center;
	}

	&__slider {
		margin-bottom: 60px;

        
	}

	&__link {

		text-align: center;

	}
}
